<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragment.html :: header (pageTitle='Đăng nhập')"></head>

<body>
	<div class="main">
		<div th:insert="fragment.html :: sidebar"></div>
		<div class="content">
			<div class="title-nav">
				<span class="text-nav">Trang chủ » </span>
				<span class="nav-now">Đăng nhập</span>
			</div>
			<form name="form-login" method="post" th:action="@{~/dang-nhap}">
				<label th:if="${param.login_error}" class="message">Tài khoản hoặc mật khẩu không chính xác!</label>
				<label th:if="${message}" th:text="${message}" class="success-message"></label>
				<div class="box-common-content">
                                    <table class="form-table" style="width: 65%">
						<tbody>
							<tr>
								<td style="width: 30%">Mã số thuế</td>
								<td style="text-align: left">
									<input type="text" id="username" name="username" value="" style="width: 358px" autofocus = "true"/>
								</td>
							</tr>
							<tr>
								<td style="width: 30%">Mật khẩu</td>
								<td style="text-align: left">
									<input type="password" id="password" name="password" value="" style="width: 358px" />
								</td>
							</tr>
							<tr>
								<td></td>
								<td><input type="submit" id="btnLogin" class="btn-fuction" value="Đăng nhập"></td>
							</tr>
						</tbody>
					</table>
			</form>
		</div>
	</div>
	</div>
	<div th:insert="fragment.html :: footer"></div>
</body>

</html>