<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragment.html :: header (pageTitle='Kê khai thuế thu nhập cá nhân')"></head>

<body>
	<div class="main">
		<div th:insert="fragment.html :: sidebar"></div>
		<div class="content">
			<div class="title-nav">
				<span class="text-nav">Trang chủ » </span>
				<span class="nav-now">Kê khai thuế</span>
			</div>
			<h1 style="text-align: center;">Tờ khai thuế thu nhập cá nhân</h1>
			<span class="subtitle">(Áp dụng cho cá nhân cư trú và cá nhân không cư trú có thu nhập từ tiền lương, tiền<br /> công khai thuế trực tiếp với cơ quan thuế)</span>
					<span style="text-align: center;display: block;">Trang 2/2</span>
			<form id="formTinhThue" method="post" onsubmit="return validateTinhThueForm()" th:action="@{~/khai-thue/tinh-thue}">
				<div class="box-common-content">
					<table class="form-table-khaithue">
						<tbody>
							<tr>
								<td colspan="3">
									Cá nhân cư trú có thu nhập từ tiền lương, tiền công
								</td>
								<td style="text-align: left">
									<input type="checkbox" name="cuTru" id="coCuTru" checked />
								</td>
							</tr>

							<tr>
								<td>1</td>
								<td colspan="2">Tổng thu nhập chịu thuế phát sinh trong kỳ</td>
								<td style="text-align: left">
									<input value="0" type="number" id="thuNhapChiuThue" name="chiTieu20"
                                                                               style="width: 300px" onchange="tinhThue()"  autofocus="true"/>
									<br /><label style="color: red" id="loiThuNhap"></label>
								</td>
							</tr>

							<tr>
								<td>2</td>
								<td colspan="2">
									Thu nhập chịu thuế được miễn giảm theo hiệp định
								</td>
								<td style="text-align: left">
									<input value="0" type="number" id="thuNhapChiuThueMienGiam"
                                                                               name="chiTieu21" style="width: 300px" onchange="tinhThue()"/>
									<br /><label style="color: red" id="loiMienGiam"></label>
								</td>
							</tr>

							<tr>
								<td rowspan="6">3</td>
								<td colspan="2">Tổng các khoản giảm trừ</td>
								<td style="text-align: left">
									<input disabled type="number" id="tongGiamTru" name="tongGiamTru"
										style="width: 300px" />
								</td>
							</tr>

							<tr>
								<td>a</td>
								<td>Cho bản thân</td>
								<td style="text-align: left">
                                                                    <input type="number" id="giamTruBanThan" name="giamTruBanThan"
                                                                               style="width: 300px" disabled/>
									<br /><label style="color: red" id="loiGiamTruBanThan"></label>
								</td>
							</tr>

							<tr>
								<td>b</td>
								<td>Cho người phụ thuộc</td>
								<td style="text-align: left">
									<input value="0" type="number" id="giamTruNguoiPhuThuoc" name="chiTieu24"
                                                                               style="width: 300px" onchange="tinhThue()"/>
									<br /><label style="color: red" id="loiGiamTruNPT"></label>
								</td>
							</tr>

							<tr>
								<td>c</td>
								<td>Cho từ thiện, nhân đạo, khuyến học</td>
								<td style="text-align: left">
									<input value="0" type="number" id="giamTruTuThien" name="chiTieu25"
										style="width: 300px" onchange="tinhThue()"/>
									<br /><label style="color: red" id="loiGiamTruTuThien"></label>
								</td>
							</tr>

							<tr>
								<td>d</td>
								<td>Các khoản đóng bảo hiểm được trừ</td>
								<td style="text-align: left">
									<input value="0" type="number" id="giamTruBaoHiem" name="chiTieu26"
										style="width: 300px" onchange="tinhThue()"/>
									<br /><label style="color: red" id="loiGiamTruBaoHiem"></label>
								</td>
							</tr>

							<tr>
								<td>e</td>
								<td>Khoản đóng quỹ hưu trí tự nguyện được trừ</td>
								<td style="text-align: left">
									<input value="0" type="number" id="giamTruHuuTri" name="chiTieu27"
										style="width: 300px" onchange="tinhThue()"/>
									<br /><label style="color: red" id="loiGiamTruHuuTri"></label>
								</td>
							</tr>

							<tr>
								<td>4</td>
								<td colspan="2">Tổng thu nhập tính thuế</td>
								<td style="text-align: left">
									<input disabled value="0" type="number" id="thuNhapTinhThue" name="thuNhapTinhThue"
										style="width: 300px" />
								</td>
							</tr>

							<tr>
								<td>5</td>
								<td colspan="2">
									Tổng số thuế thu nhập cá nhân phát sinh trong kỳ
								</td>
								<td style="text-align: left">
									<input disabled value="0" type="number" id="thueThuNhapCaNhan"
										name="thueThuNhapCaNhan" style="width: 300px" />
								</td>
							</tr>

							<tr>
								<td colspan="3">
									Cá nhân không cư trú có thu nhập từ tiền lương, tiền công
								</td>
								<td style="text-align: left">
									<input type="checkbox" id="khongCuTru" />
								</td>
							</tr>

							<tr>
								<td>1</td>
								<td colspan="2">Tổng thu nhập tính thuế</td>
								<td style="text-align: left">
									<input disabled value="0" type="number" id="thuNhapTinhThueKCT"
										name="chiTieu30" style="width: 300px" onchange="tinhThue()"/>
									<br /><label style="color: red" id="loiThuNhapKCT"></label>
								</td>
							</tr>

							<tr>
								<td>2</td>
								<td colspan="2">Mức thuế suất (%)</td>
								<td style="text-align: left">
									<input disabled value="20" type="number" id="mucThueSuat" name="mucThueSuat"
										style="width: 300px" />
									<br /><label style="color: red" id="loiThueSuat"></label>
								</td>
							</tr>

							<tr>
								<td>3</td>
								<td colspan="2">Tổng số thuế thu nhập cá nhân phải nộp</td>
								<td style="text-align: left">
									<input disabled value="0" type="number" id="thueThuNhapCaNhanKCT"
										name="thueThuNhapCaNhanKCT" style="width: 300px" />
								</td>
							</tr>

							<tr>
								<td colspan="3"></td>
								<td>
                                                                    <button style="margin-left: 230px" type="submit"
                                                                            id="btnNopToKhai" class="btn-fuction">Nộp tờ khai</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>

		</div>
	</div>
	<div th:insert="fragment.html :: footer"></div>
	<script type="text/javascript">
        window.onload = loadTinhThue;
    </script>
</body>

</html>