<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragment.html :: header (pageTitle='Kê khai thuế thu nhập cá nhân')"></head>

<body>
<div class="main">
	<div th:insert="fragment.html :: sidebar"></div>
	<div class="content">
		<div class="title-nav">
			<span class="text-nav">Trang chủ » </span>
			<span class="nav-now">Kê khai thuế</span>
		</div>
		<h1 style="text-align: center;">Tờ khai thuế thu nhập cá nhân</h1>
		<span class="subtitle">(Áp dụng cho cá nhân cư trú và cá nhân không cư trú có thu nhập từ tiền lương, tiền<br /> công khai thuế trực tiếp với cơ quan thuế)</span>
				<span style="text-align: center;display: block;">Trang 1/2</span>
		<form id="formToKhai" th:object="${toKhaiThue}" th:action="@{~/khai-thue/to-khai}" onSubmit="validateToKhaiForm(this); return false;" method="post">
			<div class="box-common-content">
                            <table class="form-table" style="width: 65%">
					<tbody>
					<tr>
						<td style="width: 45%">Kỳ tính thuế<font class="color-red">*</font></td>
						<td style="text-align: left">
							<select name="kyTinhThue" id="kyTinhThue" style="width: 387px"  autofocus="true">
								<option value="Tháng" selected>Tháng</option>
								<option value="Quý">Quý</option>
							</select>
						</td>
					</tr>

					<tr id="quy" style="display: none">
						<td style="width: 45%">Quý kê khai<font class="color-red">*</font></td>
						<td style="text-align: left">
							<select name="quyKeKhai" id="quyKeKhai" style="width: 387px">
								<option value="1" selected>Quý 1</option>
								<option value="2">Quý 2</option>
								<option value="3">Quý 3</option>
								<option value="4">Quý 4</option>
							</select>
						</td>
					</tr>

					<tr id="thang">
						<td style="width: 45%">Tháng kê khai<font class="color-red">*</font></td>
						<td style="text-align: left">
                                                    <select name="thangKeKhai" id="thangKeKhai" style="width: 387px">
								<option value="1" selected>Tháng 1</option>
								<option value="2">Tháng 2</option>
								<option value="3">Tháng 3</option>
								<option value="4">Tháng 4</option>
								<option value="5">Tháng 5</option>
								<option value="6">Tháng 6</option>
								<option value="7">Tháng 7</option>
								<option value="8">Tháng 8</option>
								<option value="9">Tháng 9</option>
								<option value="10">Tháng 10</option>
								<option value="11">Tháng 11</option>
								<option value="12">Tháng 12</option>
							</select>
						</td>
					</tr>

					<tr id="nam">
						<td style="width: 45%">Năm<font class="color-red">*</font></td>
						<td style="text-align: left">
							<input name="namKeKhai" th:field="*{namKeKhai}" id="namKeKhai" style="width: 365px" type="number" min="2000" max="2024" step="1"/>
							<br /><label id="loiNamThang"  style="color: red" ></label>
						</td>
					</tr>

					<tr>
						<td style="width: 45%">Loại tờ khai<font class="color-red">*</font></td>
						<td style="text-align: left">
							<select name="loaiToKhai" id="loaiToKhai" style="width: 387px">
								<option value="Lần đầu" selected>Lần đầu</option>
								<option value="Bổ sung">Bổ sung</option>
							</select>
						</td>
					</tr>

					<tr>
						<td style="width: 45%">Tên người nộp thuế<font class="color-red">*</font></td>
						<td style="text-align: left">
							<input type="text" name="hoTen" th:field="*{hoTen}" style="width: 365px; color: gray;" readonly />
						</td>
					</tr>

					<tr>
						<td style="width: 45%">Mã số thuế<font class="color-red">*</font></td>
						<td style="text-align: left">
							<input type="text" name="maSoThue" th:field="*{maSoThue}" style="width: 365px; color: gray; " readonly />
						</td>
					</tr>

					<tr>
						<td style="width: 45%">Địa chỉ<font class="color-red">*</font></td>
						<td style="text-align: left">
							<input type="text" name="diaChi" th:field="*{diaChi}" style="width: 365px; color: gray;" readonly />
						</td>
					</tr>

					<tr>
						<td style="width: 45%">Tỉnh/thành phố<font class="color-red">*</font></td>
						<td style="text-align: left">
							<select name="tinhThanh" id="tinhThanh" style="width: 387px">
								<option value="">Tỉnh / Thành phố</option>
							</select>
							<br /><label style="color: red" id="loiTinhThanh"></label>
						</td>
					</tr>

					<tr>
						<td style="width: 45%">Quận/huyện<font class="color-red">*</font></td>
						<td style="text-align: left">
							<select name="quanHuyen" id="quanHuyen" style="width: 387px">
								<option value="">Quận / Huyện</option>
							</select>
							<br /><label style="color: red" id="loiQuanHuyen"></label>
						</td>
					</tr>

					<tr>
						<td style="width: 45%">Điện thoại<font class="color-red">*</font></td>
						<td style="text-align: left">
							<input th:field="*{sdt}" name="sdt" type="text" id="dienThoai" style="width: 365px; color: gray;" readonly/>
							<br /><label style="color: red" id="loiSdt"></label>
						</td>
					</tr>

					<tr>
						<td style="width: 45%">Fax</td>
						<td style="text-align: left">
							<input th:field="*{fax}" name="fax" type="number" id="fax" style="width: 365px" />
							<br /><label style="color: red" id="loiFax"></label>
						</td>
					</tr>

					<tr>
						<td style="width: 45%">Email<font class="color-red">*</font></td>
						<td style="text-align: left">
							<input th:field="*{email}" name="email" type="email" id="email" style="width: 365px; color: gray;" readonly/>
							<br /><label style="color: red" id="loiEmail"></label>
						</td>
					</tr>


					<tr>
						<td style="width: 45%">Đại lý thuế</td>
						<td style="text-align: left">
                                                    <input th:field="*{daiLyThue}" type="checkbox" id="daiLyThue" name="daiLyThue" th:checked="*{daiLyThue}"/>
						</td>
					</tr>


					<tr>
						<td style="width: 45%">Tên đại lý thuế<font class="color-red">*</font></td>
						<td style="text-align: left">
                                                    <input th:field="*{tenDaiLyThue}" name="tenDaiLyThue" type="text" id="tenDaiLy" style="width: 365px" th:disabled="*{!daiLyThue}"/>
							<label th:if="${errorTenDaiLyThue}" th:text="${errorTenDaiLyThue}" class="error"></label>
							<br /><label style="color: red" id="loiTenDLT"></label>
						</td>
					</tr>

					<tr>
						<td style="width: 45%">Mã số thuế ĐLT<font class="color-red">*</font></td>
						<td style="text-align: left">
							<input th:field="*{maSoThueDLT}" name="maSoThueDLT" type="text" id="maSoThueDaiLy" style="width: 365px" th:disabled="*{!daiLyThue}"/>
							<label th:if="${errorMaSoThueDLT}" th:text="${errorMaSoThueDLT}" class="error"></label>
							<br /><label style="color: red" id="loiMstDLT"></label>
						</td>
					</tr>

					<tr>
						<td style="width: 45%">Địa chỉ ĐLT<font class="color-red">*</font></td>
						<td style="text-align: left">
							<input th:field="*{diaChiDLT}" name="diaChiDLT" type="text" id="diaChiDaiLy" style="width: 365px" th:disabled="*{!daiLyThue}"/>
							<label th:if="${errorDiaChiDLT}" th:text="${errorDiaChiDLT}" class="error"></label>
                                                        <br /><label style="color: red" id="loiDiaChiDLT"></label>
						</td>
					</tr>


					<tr>
						<td style="width: 45%">Tỉnh/thành phố ĐLT<font class="color-red">*</font></td>
						<td style="text-align: left">
							<select name="tinhThanhDLT" id="tinhThanhDaiLy" style="width: 387px" th:disabled="*{!daiLyThue}">
								<option value="">Tỉnh / Thành phố</option>
							</select>
							<br /><label style="color: red" id="loiTinhThanhDLT"></label>
						</td>
					</tr>


					<tr>
						<td style="width: 45%">Quận/huyện ĐLT<font class="color-red">*</font></td>
						<td style="text-align: left">
							<select name="quanHuyenDLT" id="quanHuyenDaiLy" style="width: 387px" th:disabled="*{!daiLyThue}">
								<option value="">Quận / Huyện</option>
							</select>
							<br /><label style="color: red" id="loiQuanHuyenDLT"></label>
						</td>
					</tr>


					<tr>
						<td style="width: 45%">Điện thoại ĐLT<font class="color-red">*</font></td>
						<td style="text-align: left">
							<input type="text" th:field="*{sdtDLT}" name="sdtDLT" id="dienThoaiDaiLy" style="width: 365px" th:disabled="*{!daiLyThue}"/>
							<label th:if="${errorSdtDLT}" th:text="${errorSdtDLT}" class="error"></label>
							<br /><label style="color: red" id="loiSdtDLT"></label>
						</td>
					</tr>

					<tr>
						<td style="width: 45%">Fax ĐLT</td>
						<td style="text-align: left">
							<input type="number" th:field="*{faxDLT}" name="faxDLT" id="faxDaiLy" style="width: 365px" th:disabled="*{!daiLyThue}"/>
                                                        <br /><label style="color: red" id="loiFaxDLT"></label>
						</td>
					</tr>

					<tr>
						<td style="width: 45%">Email ĐLT<font class="color-red">*</font></td>
						<td style="text-align: left">
							<input type="email" th:field="*{emailDLT}" name="emailDLT" id="emailDaiLy" style="width: 365px" th:disabled="*{!daiLyThue}"/>
							<label th:if="${errorEmailDLT}" th:text="${errorEmailDLT}" class="error"></label>
                                                        <br /><label style="color: red" id="loiEmailDLT"></label>
						</td>
					</tr>

					<tr>
						<td style="width: 45%; vertical-align: top;">
							Hợp đồng đại lý thuế<font class="color-red">*</font>
						</td>
						<td colspan="2" style="text-align: left; vertical-align: top;">
							<label>Số</label>
							<input th:field="*{soHopDong}" name="soHopDong" type="text" id="soHopDong" style="width: 137px; margin-left: 42px" th:disabled="*{!daiLyThue}"/>
							<label th:if="${errorSoHopDong}" th:text="${errorSoHopDong}" class="error"></label>
							<label style="color: red" id="loiSoHopDong"></label>
						</td>
					</tr>
					<tr>
						<td></td>
						<td colspan="2" style="text-align: left; vertical-align: top;">
							<label>Ngày <font class="color-red">*</font></label>
							<input th:field="*{ngayHopDong}" name="ngayHopDong" placeholder="dd-mm-yyyy" value="" min="1950-01-01" max="2050-12-31" type="date" id="ngayHopDong" style="width: 137px; margin-left: 10px;" th:disabled="*{!daiLyThue}"/>
							<label style="color: red" id="loiNgayHopDong"></label>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<button style="margin-left: 230px" type="submit" id="btnConThongTinToKhai" class="btn-fuction">Tiếp tục</button>
						</td>
					</tr>
					</tbody>
				</table>

			</div>
		</form>
	</div>
</div>
<div th:insert="fragment.html :: footer"></div>
</body>

</html>